/* mainpage.css */

/* Page Styles */
body {
    background-color: #fdfdfd;
    padding: 20px;
  }
  
  /* Title and Description Styles */
  h1 {
    font-size: 2rem;
    font-family: Comic Sans MS, cursive;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #504d4d;
  }

  ol {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #504d4d;
  }

  h3 {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: #504d4d;
  }

  h2 {
    text-decoration: underline;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    color: #504e4e;
  }